body {
  background-color: whitesmoke;
}

header {
  border-bottom: 2px solid lightgray;
  background-color: white;
}

#yourName {
  text-align: center;
  background-color: darkcyan;
}

footer {
  position: fixed;
  width: 100%;
  border-top: 10px solid darkcyan;
  background-color: grey;
  padding: 15px;
  color: white;
  bottom: 0;
  text-align: center;
}

.aboutBody {
  background-color: white;
  margin-top: 25px;
  outline: 2px solid lightgray;
  margin-left: 0px;
  margin-right: 20px;
  max-width: 1300px;
}

.aboutBodyhead {
  border-bottom: 2px solid lightgray;
  color: darkcyan;
}

a {
  color: blue;
}

a:link {
  color: yellow;
}

a:hover {
  color: grey;
}

#myimage {
  width: 80%;
  height: 80%;
}

img {
  width: 100%;
}

.imgContainer {
  position: relative;
  text-align: center;
  color: lightblue;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: white;
  opacity: 80%;
}

.outline {
  border: solid darkcyan;
}
