body {
    background-color:whitesmoke;
}

header {
    border-bottom: 2px solid lightgray;
    background-color: white;
}
#yourName {
    text-align: center;
    background-color: darkcyan;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:grey;
    color: white;
    text-align: center;
    padding: 15px;
    border-top: 10px solid darkcyan;
  }

  .aboutBody {
    background-color: white ;
    margin-top: 25px;
    outline: 2px solid lightgray;
    margin-left: 0px;
    margin-right: 20px;
  }

  .aboutBodyhead {
     border-bottom: 2px solid lightgray; 
     color: darkcyan;
  }

  a {
      color: gray;
  }

  a:link {
      color: yellow;
  }

  a:hover {
      color: blue;
  }

  a:visited {
      color: red;
  }